body {
  display: flex;
  justify-content: center;
  background-color: #ffe8d6;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  padding: 20px;
  border-color: black;
  border-style: solid;
  width: fit-content;
}

.label {
  font-size: 15px;
  background-color: #8e9aaf;
  color: white;
  margin-top: 10px;
  padding: 2px;
  font-weight: bolder;
}

.mn-input {
  height: 30px;
}

.cr-input {
  height: 30px;
}
